.nav-bar{
    position: fixed;
    padding: 10px;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.918);
}
.nav-bar-content{
    text-transform: uppercase;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Orbitron";
}
.nav-bar-content a{
    text-decoration: none;
    color: #fff;
}
